<main class="todo-container">
  <div class="addTask-style">
    <input (keydown.enter)="addTask()" [(ngModel)]="newTask" placeholder="Enter new Task" class="todo-input" />
    <button (click)="addTask()"  class="todo-button">Add </button>
  </div>
  <ul class="list-style">
    <li *ngFor="let todoItem of todolist; let i = index" [ngClass]="{ 'completed': todoItem.checked }">
      <input type="checkbox"
      [checked]="todoItem.checked"
      (change)="toggleCompleted(i)"
      />
      <span [class.completed]="todoItem.checked">{{ todoItem.task }}</span>
      <div class="button-style">
        <button id="update-button"  (click)="updateTask(i)"> Update </button>
        <button (click)="deleteTask(todoItem.id)"> Delete </button>
      </div>
  </ul>
</main>

<router-outlet />
